{% extends 'main/layout.html' %}

{% block title %}Форма рецепта{% endblock %}

{% block content %}
   <div class="feat">
       <h1>Форма рецепта</h1>
       <form method="post">
           {% csrf_token %}
           {{ form.title }}<br>
           {{ form.anons }}<br>
           {{ form.kategor }}<br>
           {{ form.prod }}<br>
           {{ form.full_text }}<br>
            <span>{{ error }}</span>
           <button class="btn btn-success" type="submit"> Далее </button>
       </form>
   </div>
{% endblock %}